body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Makes sure the content is centered vertically */
    margin: 0; /* Optional: Removes default body margin */
  }

.container {
    /* Add other styles as needed */
    height: 250px;
    width: 1000px;
    border: 2px solid #333; /* Add a border with a color of your choice */
    padding-top: 50px; /* Optional: Add padding for better visual appearance */
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .text {
    padding-bottom: 30px;
    color: blue;
  }

  .question {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 18px;
  }

  .answer {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    padding-left: 20px;
  }